.searchBar-container {
   position: relative;
  box-sizing: border-box;
  .search-icon{
    position: absolute;
    top: 29px;
    left: 12px;
    font-size: 1.5rem;
    font-weight: bold;
  
  }
  .searchBar {
   
    margin: 20px auto;
    padding: 10px 40px;
    box-sizing: border-box;
    width: 100%;
    background-color: grey;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
  }
}
